<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="static/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/sweetalert2.all.min.js"></script>
    <script src="static/app.js" defer></script>
    <title>BioCosmos</title>
</head>

<body>
    <div id="app">
        <div class="view-image" v-if="focusImage">
            <span @click="closeFocus">X</span>
            <div class="image-content">
                <div class="text-content">
                    <div class="details">
                        <h2 class="text-primary">{{ clickedItem.name }}</h2>
                        <p>{{ clickedItem.description }}</p>
                    </div>
                    <div class="image-attributes">
                        <div class="image-attribute">
                            <div class="key">Scientific Name</div>
                            <div class="value">{{ clickedItem.scientific_name }}</div>
                        </div>
                        <div class="image-attribute">
                            <div class="key">Source</div>
                            <div class="value">{{ clickedItem.specimen_source_name }}</div>
                        </div>
                        <div class="image-attribute">
                            <div class="key">Global ID</div>
                            <div class="value">{{ clickedItem.id }}</div>
                        </div>
                        <div class="image-attribute">
                            <div class="key">Location</div>
                            <div class="value link">
                                <a :href="clickedItem.map_url" target="_blank">{{ clickedItem.latitude }}, {{
                                    clickedItem.longitude
                                    }}</a>
                            </div>
                        </div>
                        <div class="image-attribute">
                            <div class="key">Source Link</div>
                            <div class="value link">
                                <a href="#">{{ clickedItem.specimen_source_name }}</a>
                            </div>
                        </div>
                        <div class="image-attribute">
                            <div class="key">Image Link</div>
                            <div class="value link">
                                <a :href="clickedItem.media_url">{{ clickedItem.image_source_name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-src">
                    <img alt="" :src="clickedItem.media_url" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heading">
                <h3>Bio<span>Cosmos</span></h3>
                <div class="inp-button">
                    <div class="inputs">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"
                            class="mag">
                            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                            -->
                            <path fill="#a3a3a3"
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                        <input type="text" placeholder="Search" name="searchQuery" id="searchQuery"
                            class="search-query input input-bordered input-primary" :value="inputQuery"
                            @input="searchQueryChanged" />

                        <label for="fileUpload" class="custom-file-upload">
                            <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxklEQVR4nO2UMQrCQBBFg5Vi6QXsvYAXEHIMbxJLO49gH2TzX5kqYNDK1gvE2s5SiEQIhLBNkg1RyIcphh3+g9mZ8bxRPyPABx5A3jGywssGyByY5yXEBvg+OuhEbvUZFABcJKW9ASSlwLk3QBM5ARhjFoCJ43jeGQCsq3kYhjNJ16JW0rETANgAb0n7Ig+CYCLpVJv5bStAFEVL4Fkx2kk61JdK0gtYNQIkSTIFbg02917+x39MUVtA78fOdwTJrOd61GD6AJGcB5JWDDmgAAAAAElFTkSuQmCC" />
                        </label>
                        <input type="file" class="hidden" name="fileUpload" id="fileUpload" @change="uploadFileChanged"
                            ref="fileUploadElement" accept="image/*" />
                    </div>
                    <div class="buttons">
                        <button class="btn btn-primary" @click="submitQuery">
                            Search
                        </button>
                    </div>
                    <p>
                        Search with a natural language query or upload an image to perform
                        a reverse image search.
                    </p>
                </div>
            </div>
            <div class="box" v-if="displayResults">
                <div class="img-column" v-for="column in columns">
                    <template v-for="value in column">
                        <img :src="value.media_url" class="img-fluid" :id="value.id" @click="displayImage" />
                    </template>
                </div>
            </div>
        </div>
    </div>
</body>

</html>