* {
  margin: 0px;
  padding: 0px;
}

:root {
  --separator-color: #fff;
  --separator-color-light: #222;
}

html {
  font-family: "Jost", sans-serif;
  height: 100%;
}

body {
  margin-top: -40px !important;
}

.hidden {
  display: none;
}

.custom-file-upload {
  position: relative;
}

.custom-file-upload::before {
  position: absolute;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: px 20px 0 20px;
  z-index: 1;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}

.bannerimage {
  width: 100%;
  background-image: url("banner_alt.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  color: var(--fallback-s, oklch(var(--p) / 1));
}

.container .heading h3 span {
  font-weight: 100;
  color: var(--fallback-s, oklch(var(--a) / 1));
}

.container .heading .inp-button {
  padding-bottom: 25px;
}

.container .heading .inp-button p {
  padding-top: 10px;
}

.container .heading .inp-button .inputs {
  padding-top: 25px;
  width: 100%;
  height: 100%;
  position: relative;
}

.container .heading .inp-button .buttons {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .heading .inp-button .buttons button {
  width: 150px;
}

.container .heading .inp-button .inputs .custom-file-upload {
  position: absolute;
  cursor: pointer;
  transform: translate(-200%, 50%);
}

#magglass {
  position: relative;
}

#magglass::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("mag.svg") center / contain no-repeat;
}

/* .container .heading .inp-button .inputs label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("image.png") center / contain no-repeat;
} */

.container .heading .inp-button .inputs .search-query {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 75%;
}

.container .heading .inp-button .inputs p,
.container .heading .inp-button .buttons p {
  width: 15%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.container .box .img-column {
  display: flex;
  flex-direction: column;
  width: 24%;
}

.container .box .img-column img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 1rem;
  transition: 0.5s;
  z-index: 2;
}

.container .box .img-column img:hover {
  transform: scale(1.05);
  z-index: 3;
}

.view-image {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  height: 105%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 0%;
  left: 0%;
}

.view-image span {
  color: var(--separator-color);
  font-size: 3rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}

.view-image .image-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  height: 80%;
  padding: 20px 20px;
  background-color: var(--fallback-s, oklch(var(--b1) / 1));
  border-radius: 1rem;
}

.view-image .image-content .text-content {
  background-color: var(--fallback-s, oklch(var(--n) / 1));
  border-radius: 1rem;
  padding: 20px;
  width: 50%;
  overflow-y: auto;
}

.view-image .image-content .text-content .image-attributes {
  padding-top: 10px;
}

.view-image .image-content .text-content .image-attributes .image-attribute {
  padding-bottom: 10px;
}

.view-image
  .image-content
  .text-content
  .image-attributes
  .image-attribute
  .key {
  color: var(--fallback-s, oklch(var(--a) / 1));
}

.view-image .image-content .image-src {
  padding: 0 10px 10px;
  overflow: hidden;
  display: flex;
}

.view-image .image-content .image-src img {
  width: 100;
  height: 100%;
  object-fit: fill;
  border-radius: 1rem;
}
