services:
  backend:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspaces:cached
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    networks:
      - default
      - frontend
    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode
    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    ports:
      - 45679:45679
      - 8080:8080
    depends_on:
      - redis
      - postgres
      - mongo
  
  nginx:
    build:
      context: ../frontend
      dockerfile: ./Dockerfile
    ports:
      - 3000:80
    networks:
      - frontend
      - default
    depends_on:
      - backend


  redis:
    image: redis/redis-stack:7.2.0-v10
    restart: unless-stopped
    networks:
      - default
    volumes:
      - redis-data:/data/redis
    ports:
      - 6379:6379
      - 8001:8001

  postgres:
    build:
      context: ..
      dockerfile: ./postgres/Dockerfile
    restart: unless-stopped
    networks:
      - default
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ../postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nfhm
    command: |
      bash -c "
        su - postgres -c '/usr/local/bin/docker-entrypoint.sh'
        su - postgres -c '/usr/lib/postgresql/16/bin/postgres -D /var/lib/postgresql/data/'
      "
    ports:
      - 5432:5432

  mongo:
    image: mongo:latest
    restart: unless-stopped
    networks:
      - default
    volumes:
      - ../.mongo-data:/data/db
    ports:
      - 27018:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: NFHM

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false
  
  jupyter:
    image: jupyter/datascience-notebook:latest
    restart: unless-stopped
    networks:
      - default
    volumes:
      - ../jupyter-workpad:/home/jovyan/work
    ports:
      - 8888:8888
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      JUPYTER_TOKEN: "this_is_the_token"

volumes:
  postgres-data:
  redis-data:

networks:
  frontend:
  